.main.posts-index
  .container
    - @newplayers.each do |newplayer|
      .posts-index-item
        .post-left
        .post-right
          .post-user-name
            = link_to(newplayer.user.name, "/users/#{newplayer.user.id}")
          = link_to(newplayer.content, "/newplayers/#{newplayer.id}")
