<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">注目選手について入力</h1>
    <!-- form_tagメソッドを用いて、データの送信先を指定してください -->
    <%= form_tag("/newplayers/create") do %>
      <div class="form">
        <div class="form-body">
          <% @newplayer.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <p>選手名</p>
          <input type="text" name="player"></p>
          <p>所属チーム名</p>
          <input type="text" name="from"></p>
          <p>出身校、出身チーム</p>
          <input type="text" name="before"></p>
          <p>主なポジション</p>
            <select name="example">
            <option value="投手">投手</option>
            <option value="捕手">捕手</option>
            <option value="一塁手">一塁手</option>
            <option value="二塁手">二塁手</option>
            <option value="三塁手">三塁手</option>
            <option value="遊撃手">遊撃手</option>
            <option value="外野手">外野手</option>
            <option value="その他">その他</option>
          </select>
          <p>画像</p>
          <input name="image" type="file"> 
          <p>その他選手についての情報</p>
          <textarea name="content"><%= @newplayer.content %></textarea>
          <input type="submit" value="投稿">
        </div>
      </div>
    <%end%>
  </div>
</div>