<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">注目選手について入力</h1>
    <!-- form_tagメソッドを用いて、データの送信先を指定してください -->
    <%= form_tag("/newplayers/create") do %>
      <div class="form">
        <div class="form-body">
          <% @newplayer.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <textarea name="content"><%= @newplayer.content %></textarea>
          <input type="submit" value="投稿">
        </div>
      </div>
    <%end%>
  </div>
</div>